body {
    background-color: #484848
}

h1 {
    color: #AC3E31;
    font-size : 45px;
    font-family: Georgia, 'Times New Roman', Times, serif

}

h2 {
    color: #AC3E31;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
