body {
    background-color: black
}

h1 {
    color: #AC3E31;
    font-size : 45px;
    font-family: 'Open Sans'

}

h2 {
    color: #AC3E31;
    font-size: 30px;
    font-family:  'Open Sans'
}

a{font-size:25px}

a{font-family: 'Open Sans'}

a:link{
    color:#AC3E31
   
}

a:visited{
    color:#AC3E31;
    

}

a:hover{
    color:orangered
    

}

a:active{
    color:orangered

}

.Select-control{
    background-color:black !important;
    color: #FFFFFF;
}

.Select-menu-outer {
    background-color:#484848;
    color: #FFFFFF;
}

.Select-value-label{
    color: #FFFFFF !important;
}